
<h1>Top Pitches</h1>
<div class="list-group">
<h2 class="list-group-item active">Pitch Title</h2>
<ul class="list-group-item">
  <% @pitch_order.each do |array| %>
    <li class="list-group-item"><%=array[0]%></li>
    <%end%>
</ul>

</div>

<%= link_to "Create a new pitchday", new_pitchday_path %>
